html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

.logo {
    padding: 1rem 0;
    background-color: rgb(219, 31, 31);
    text-align: center;
}

.logo a {
    color: white;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}