html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: rgb(219, 31, 31);
}

.container {
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding: 1.5rem 0;
}

.section p {
    font-size: 1.25rem;
    line-height: 2;
}

.title-section {
    color: rgb(219, 31, 31);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer-content{
    text-align: right;
}

.logo {
    padding: 1rem 0;
    background-color: rgb(219, 31, 31);
    text-align: center;
}

.logo a {
    color: white;
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: thin solid rgb(219, 31, 31);
    list-style: none;
}

.menu-item {
    padding: 1rem;
}

.menu-item a {
    font-size: 1.5rem;
    color: black;
}

.menu-item a:hover {
    color: rgb(219, 31, 31);
}

.hero-image {
    width: 100%;
    min-height: calc(100vh - 180px);
    background-image: url('https://images.pexels.com/photos/5737454/pexels-photo-5737454.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-container {
    display: flex;
    justify-content: center;
}   

.divisor {
    border: thin solid rgb(219, 31, 31);
}